body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 2fr 2fr 1fr; /*definir altura de cada linha*/
    grid-template-areas: 
    "nav nav"
    "aside section"
    "aside article"
    "player player"
    ;
}

.nav{
    grid-area: nav;
    background-color: aqua;
}

.aside{
    grid-area: aside;
    background-color: blue;
}

.section{
    grid-area: section;
    background-color: antiquewhite;

}
.article{
    grid-area: article;
    background-color: chartreuse;
}
.player{
    grid-area: player;
    background-color: chocolate;
}