body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    /*definir altura de cada linha*/
    grid-template-areas:
        "nav nav"
        "aside section"
        "aside article"
        "player player"
    ;
    height: 100%;
}

.nav {
    grid-area: nav;
    background-color: aqua;
}



.header {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 2rem;
    font-size: smaller;
    align-items: center;
}

.logo {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 34px;
    
    /* align-items: start;
    justify-content: start; */
}

.aside {
    grid-area: aside;
    background-color: blue;
}

.section {
    grid-area: section;
    background-color: antiquewhite;

}

.article {
    grid-area: article;
    background-color: chartreuse;
}

.player {
    grid-area: player;
    background-color: chocolate;
}